.wp-block-file.aligncenter {
	text-align: center;
}

.wp-block-file.alignright {
	text-align: right;
}

.wp-block-file > a:not(.wp-block-file__button):not(:last-child) {
	display: inline-block;
	margin-block: 8px;
	margin-inline-end: 16px;
}

.wp-block-file__embed {
	margin-bottom: 16px;
}

.wp-block-file__button {
	display: inline-block;
}
