.wp-block-media-text__content > * {
	margin-block: 0;
}

.wp-block-media-text__content > * + * {
	margin-block-start: var(--wp--style--block-gap);
	margin-block-end: 0;
}

.wp-block-media-text .wp-block-media-text__content {
	padding: clamp(var(--wp--preset--spacing--15), 9%, var(--wp--preset--spacing--45));
}

.wp-block-media-text:not(.has-background):not(.is-style-tw-shadow):not(.alignfull) {
	gap: var(--wp--preset--spacing--30) clamp(var(--wp--preset--spacing--15), 6%, var(--wp--preset--spacing--55));
}

.wp-block-media-text:not(.has-background):not(.is-style-tw-shadow):not(.alignfull) .wp-block-media-text__content {
	padding: 0;
}

@media (max-width: 767px) {

	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
		padding-block: var(--wp--preset--spacing--30);
	}
}

.wp-block-media-text.alignfull .wp-block-media-text__content {
	padding: var(--wp--preset--spacing--50) var(--wp--style--root--padding-left);
}
